<header class="row sticky-top">
    <nav class="navbar navbar-expand-lg" id="barraNav">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">
                <img src="https://media.revistagq.com/photos/5d5d383031110c000879872d/1:1/w_1080,h_1080,c_limit/logo-starbucks.jpg"
                    alt="LogoBlog" width="30" height="30" id="imgLogo">
            </a>

            <button class="navbar-toggler d-lg-none d-flex justify-content-center align-items-center pt-2"
                id="botonMenu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
                    <path stroke="#FFFFFF" stroke-opacity="1" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" d="M1 2.5h14" />
                    <path stroke="#FFFFFF" stroke-opacity="0.4" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" d="M1 7.5h14" />
                    <path stroke="#FFFFFF" stroke-opacity="1" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" d="M1 12.5h14" />
                </svg>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/solicitudes">Solicitudes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Buscar por fecha
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item disabled" href="#">2000</a></li>
                            <li><a class="dropdown-item disabled" href="#">2001</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item disabled" href="#">Ir a lo mas antiguo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Administrador</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
</header>